foo {
  font-size: 1em;
  line-height: 0.12857em;
  letter-spacing: 0.1em;
}

foo-sketch-tracking {
  font-size: 1em;
  line-height: 0.12857em;
  letter-spacing: 6.5em;
}

foo-auto {
  font-size: 1.14286em;
  line-height: 1.2em;
  letter-spacing: 0;
}

foo-smooth {
  font-size: 1.14286em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-smoothing: antialiased;
}

foo-important-override {
  font-size: 1.14286em !important;
  line-height: 1.2em !important;
  letter-spacing: 0.1em !important;
}
